body {
  padding-top: 100px;
}

.home {
  margin-top: 250px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;

  h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    font-size: 36px;
    color: #4F4F4F;
  }

  .purpleName {
    color: #5253B9;
    font-weight: 400;
  }
}

.searchBox {
  box-shadow: 0 0 10px #CCC;
  padding: 10px 20px;

  &__form {
    width: 100%;
    height: 60px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    background: none;
    outline: none;
    border: none;
    margin-left: 30px;
    margin-top: 15px;
    @media (max-width: 992px) {
      margin-left: -10px;
    }
  }
}

.loginButton {
  background: #4a4aa8;
  color: #FFF !important;
  padding: 20px 40px;
}

.searchBtnProf {
  background: none;
  outline: none;
  border: none;
  margin-left: -70px;
}

.purpleBox {
  background: #4a4aa8;
  color: #FFF;
  padding: 0 !important;
  font-weight: 400;
  border-radius: 10px 0 0 10px;
  max-height: 800px;
  margin-top: 40px;

  &__first {
    width: 100%;
    height: 370px;
    padding-top: 50px;
    text-align: center;
    align-items: center;

    &--avatar {
      width: 200px;
      border-radius: 50%;
    }

    &--userName {
      font-size: 30px;
      font-weight: 400;
      margin-top: 25px;
    }

    &--userLogin {
      font-size: 25px;
    }
  }

  &__second {
    font-size: 18px;
    background: #5253B9;
    min-height: 150px;
    padding: 20px;
    border-radius: 0 0 0 10px;

    &--bio {
      font-size: 20px;
    }

    &--infos img {
      margin-right: 10px;
    }
  }
}

.repoBox {
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-height: 900px;

  ul {
    padding: 30px 10px;
  }

  &__item {
    list-style: none;
    height: 170px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 40px 0 0 30px;
    margin-bottom: 25px;

    &--name {
      a {
        color: #000;
      }
      font-size: 25px;
    }

    &--desc {
      font-size: 18px;
    }
  }
}

.notFound {
  margin-bottom: 50px;
}
